.posts__action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $gap;
  margin-bottom: $gap * 5;
}


@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
