%container {
    max-width: $ul;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;
}
%btn {
    font-size: 1.125rem;
    color: $color-light;
    height: 3.75rem;
    min-width: 26.25rem;
    padding: $gap ($gap / 2 * 3);
    line-height: 1.1;
}