.about__image {
  img {
    max-height: 30rem;
    padding-left: 0.687rem;
    object-fit: cover;
  }
  &::before {
    position: absolute;
    top: 15.25rem;
    right: 24.625rem;
  
    width: $gap / 10;
    height: $gap * 10;
  
    content: "";
  
    background-color: rgba(99, 117, 136, 0.1);

    @include lg-md {
      display: none;
    }  
    @include md-sm {
      display: none;
    }  
    @include sm {
      display: none;
    }
  }

  @include md-min {
    margin-top: 6.81rem;
    }
  @include md-sm {
      display: grid;
      align-content: center;
      justify-items: center;
    }  
  @include sm {
    display: grid;
    align-content: center;
    justify-items: center;
    }
}

