.about {
  // position: relative;
  background-color: $color-gray-light;

  &__container {
    display: grid;
    @extend %container;
    // max-height: 40.8rem;
    background-color: $color-gray-light;
    background-position: center;
    background-size: cover;

    @include lg-min {
      grid-template-columns: 1fr 16.94rem;
      gap: $gap * 5;
    }
    @include lg-md {
      gap: $gap * 2;
      grid-template-columns: 1fr 16.94rem;
    }
    @include md-sm {
      gap: 20px;
      grid-template-columns: 1fr 14.75rem;
    }
    @include sm {
      padding-top: $gap * 2;
      padding-bottom: $gap * 2;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
