.about__image {
  display: grid;
  align-content: center;
  justify-items: center;
  img {
    max-height: 30rem;
    // padding-left: 0.687rem;
    max-width: 100%;
  }
  &::before {
    position: absolute;
    top: 15.25rem;
    right: 21.38rem;
  
    width: 2px;
    height: 200px;
  
    content: "";
  
    background-color: rgba(99, 117, 136, 0.1);

    @include lg-min {
      right: 24.6rem;
    }  
    @include lg-md {
      right: 19.3rem;
    }  
    @include md-sm {
      right: 16.5rem;
      top: 9rem;
    } 
    @include sm {
      display: none;
    }
  }
}

