.about-contant {
  &__title {
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    line-height: 3rem;
    color: #2d3651;
    font-family: "Roboto Slab";
    margin-top: 6.28rem;
    margin-bottom: 3.5rem;
  }

  &__text {
    margin-top: -($gap / 4);
    margin-bottom: 6.25rem;
    
    p{
      max-width: 58.5rem;
      max-height: 19.94rem;
      font-size: 1.125rem;
      letter-spacing: 0.049em;
      line-height: 1.15;
      color: #637588;
      font-family: "Roboto", sans-serif;
    }
  }
}
