.post-item {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  transition: background-color 0.5s;
  &:hover {
    background-color: #d8d8d8;
    h3,
    p {
      color: $color-primary;
    }
    .post-item__image img {
      transform: scale(1.1);
    }    
  }

  &__link {
    display: grid;
    overflow: hidden;
    grid-template-rows: 300px 238px;
  }

  &__image {
    display: flex;
    overflow: hidden;
    justify-content: center;
    background-color: $color-primary;
    img {
      transition: transform 0.5s;
      width: 100%;
    }
  }

  &__caption {
    display: grid;
    align-content: center;
    padding-left: $gap;
    padding-right: $gap;
  }
  &__title {
    display: block;
    font-size: 1.125rem;
    letter-spacing: 0.05em;
    line-height: $gap;
    color:$color-gray;
    font-family: $font-header;
    text-align: center;
  }
  &__text {
    font-size: 15.5px;
    letter-spacing: 0.015em;
    color: $color-gray;
    font-family: $font-main;
    line-height: 1.2;
    text-align: center;
  }
}

@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}